footer {
    justify-content: center;
    display: flex;
    z-index: 1;
    position: relative;
    color: var(--text-color);

    h3 {
        font-weight: 600;
        color: var(--primary-color);
        font-size: 0.8em;
    }

    p {
        color: var(--text-color);
        font-size: 0.65em;
    }


    .footer__content {
        display: grid;
        padding: 1.25rem 1rem;
        padding-bottom: 0.75rem;
        position: absolute;
        justify-self: center;
        bottom: 0;
    }

    .footer__1 {
        justify-items: center;
        display: grid;
    }
    .footer__2 {
        display: grid;
        justify-content: center;

        .footer__links {
            display: inline-flex;
            gap: 12px;
            justify-content: center;

            svg {
                height: 14px;
                width: 100%;
            }

            a:hover {
                color: color-mix(in srgb, var(--text-color) 90%, var(--secondary-color) 10%);
            }
        }
    }
}

@media screen and (min-width: 690px) {
    footer {
        .footer__content {
            padding-bottom: 1.75rem;
            h3 {
                font-size: 1.25em;
            }
            p {
                font-size: 0.8em;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    footer {
        .footer__content {
            gap: 4rem;
            grid-template-columns: 2fr 1fr;
            top: 50%;
            bottom: auto;
        }

        h3 {
            font-size: 1.5em;
        }
        p {
            font-size: 1em;
        }

        .footer__links {
            svg {
                height: 24px !important;
            }
        }
    
    }
}