.chakra-card {
  &__badges {
    gap: 6px;
    display: inline-flex;
    margin-top: auto;
    flex-wrap: wrap;

    span {
      font-size: 14px;
      padding: 4px;
      background-color: var(--accent-color);
      color: var(--secondary-color);
    }
  }

  &__content {
    height: 100%;
  }

    &__root {
      background-color: var(--secondary-color);
    }

    &__footer {
      justify-content: end;

      button {
        background-color: var(--primary-color);
        color: white;
      }
    }

    &__title {
      color: var(--accent-color);
    }

    &__body {
      height: 100%;
    }

}

@media screen and (min-width: 680px) {
  .chakra-card {
      &__root {
        display: flex;
        flex-direction: row !important;
        .chakra-image {
          max-width: 50vw !important;
        }
      }

      &__body {
        height: 100%;
      }
    }    
}
