.projects {
  h1 {
    font-weight: 700;
  }
  
  &-code {
    padding-bottom: 10px;

    &__list {
      display: grid;
      gap: 12px;
    }
  }

  &-ux {
    padding-top: 2rem;
    &__list {
      display: grid;
      gap: 12px;
    }
  }

  @media screen and (min-width: 680px) {
    .projects-code__list,
    .projects-ux__list {
      gap: 32px;
    }
  }
}
