.sport-buddy {
    padding: 1rem 2rem;
    width: 100%;
    &__header {
        justify-content: center;
        display: grid;

        h1 {
            justify-self: center;
            font-weight: 600;
        }

        &__badges {
            justify-content: center;
            display: flex;
            gap: 10px;
            

            span {
                padding: 4px;
                color: white;
                background-color: var(--burgundy);
                font-size: 16px;
            }   
            
        }
    }

    &__content {
        &__personas {
            overflow: hidden;
            
            img {
                object-fit: scale-down !important;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        padding: 0 8rem;

        &__header__badges span {
            font-size: 22px;
            padding: 6px;
        }
    }
}

