:root {
  /* Base Colors */
  --background-color: #d8e2fe;
  --primary-color: #800020;
  --secondary-color: #fffdf8;
  --accent-color: #003eab;
  --text-color: #1F305E;

  --primary-light-1: #9c1d2c; /* Slightly lighter */
  --primary-light-2: #BF4D60; /* Medium-light */
  --primary-light-3: #D96A7F; /* Softest shade */

  --font-sans: 'Quicksand', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-size-base: 14px;
  --font-size-small: 12px;
  --font-size-large: 16px;
  --font-size-h1: 34px;
  --font-size-h2: 28px;
  --font-size-h3: 24px;
  --font-size-p: 16px;

  --border-radius: 20px;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  background-color: var(--background-color);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, pre {
  font-family: var(--font-mono);
}

h1 {
  color: var(--primary-color);
  font-size: var(--font-size-h1);
}

h2 {
  color: var(--primary-color);
  font-size: var(--font-size-h2);
}

h3 {
  color: var(--primary-color);
  font-size: var(--font-size-h3);
}

p {
  color: var(--text-color);
  font-size: var(--font-size-base);
  text-align: justify;
}

ul {
  list-style-type: disc;
  padding-left: 8px;
}

li {
  margin-left: 4px;
}

i {
  font-style: italic;
}

.app {
  width: 100%;
  background-color: var(--background-color);
}

.content {
  padding: 1rem 2rem;
  background-color: var(--background-color);
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

@media screen and (min-width: 680px) {
  h1 {
    font-size: 40px;
  }

  h2 {

    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 20px;
  }

  .content {
    padding: 1.5rem 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    padding: 2rem 8rem;
    padding-bottom: 3rem;
  }
}

:disabled {
  cursor: unset;
}